img {
    max-width: 220px;
    max-height: 150px;
}figcaption {

  width: 58%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 5;
  margin: 0.5em;
  padding: 0.5 em;

}
.page {
    position: relative;
    left: 10%;
    width: 80%;
    z-index: 1;
}
.button {
    color: #494949 !important;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border: 2px solid #494949 !important;
    border-radius: 20px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    justify-content: center;
    align-items: center;
    position: relative;
}
}

.form {
    width: 100%;
}


.button:hover, .button_sel:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
}
.button_sel {
    color: #494949 !important;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border: 2px solid #20bf6b !important;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    justify-content: center;
    align-items: center;
    position: relative;
}



.container-form {
    width: 100%;  
    min-height: 50vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  
.wrap-form {
    width: 790px;
    background-color: rgba(192, 192, 192, 0.2);
    border-radius: 25px;
    overflow: hidden;
    padding: 72px 55px 90px 55px;
    margin-bottom: 50px;
    margin-top: 0;
}

.form-title {
    display: block;
    color: #333333;
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold;
}



body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: gradient 15s ease infinite;
            animation: gradient 15s ease infinite;
    
    font-family: 'Josefin Sans', sans-serif !important;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*Background*/
@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.page {
    position: relative;
    left: 10%;
    width: 80%;
    z-index: 1;
}

.container {
    width: 100%;  
    min-height: 50vh;


   
   
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
}
}


